.accordion-list {
  counter-reset: accordion-list;

  li {
    list-style: none;
  }
}

.accordion {
  position: relative;
  border-bottom: 1px solid $color-border;
  overflow: hidden;

  &__content {
    padding-right: 20px;
    padding-left: 37px;
    font-style: italic;
    transition: all $transition-duration;

    > * {
      position: absolute;
      opacity: 0;
      transition: all $transition-duration;
    }

    &.is-open {
      padding-bottom: 20px;

      > * {
        position: static;
        opacity: 1;
      }
    }
  }

  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 15px 37px;
    text-align: left;
    background: none;
    border: 0;

    @include laptop {
      padding: 12px 0 11px 37px;
    }

    &[aria-expanded="true"] {
      .accordion__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    position: absolute;
    flex-shrink: 0;
    top: 50%;
    left: 0;
    width: 16px;
    height: 14px;
    transition: 0.2s;
    transform: translateY(-50%);

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'%3E%3Cpath fill='%2333a6a7' d='M7.753 7.14a1 1 0 0 1-1.505 0l-4.8-5.481A1 1 0 0 1 2.2 0h9.6a1 1 0 0 1 .753 1.659Z'/%3E%3C/svg%3E");
      background-size: 16px 14px;
      background-repeat: no-repeat;
      width: 17px;
      height: 14px;
      color: $color-secondary;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;

    &::before {
      counter-increment: accordion-list;
      content: counter(accordion-list) ".";
      margin-right: 19px;
    }
  }
}
