.arrow-links {

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    margin-bottom: 30px;

    a {
      align-self: center;
      font-size: 20px;
      line-height: 24px;
      font-weight: 900;
      text-decoration-color: transparent;
      text-underline-offset: 5px;
      text-decoration-thickness: 1px;

      &:active,
      &:hover {
        color: $color-secondary;
        text-decoration-color: $color-secondary;
      }
    }
  }
}