.card-info {
  position: relative;
  color: $color-white;
  transition-duration: $transition-duration;
  transition-property: box-shadow;

  &.background-antique {
    color: $color-black;
  }

  &:hover {
    box-shadow: 0 0 20px #00000033;
    transition-duration: $transition-duration;
    transition-property: box-shadow;

    a {
      opacity: 1;
      transition-duration: $transition-duration;
      transition-property: opacity;
    }

    &:after {
      transform: translateY(30px);
      transition-duration: $transition-duration;
      transition-property: box-shadow transform;
      box-shadow: 0 20px 20px #00000033;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;

    background-color: inherit;
    transform: translateY(0);
    pointer-events: none;
    transition-duration: $transition-duration;
    transition-property: box-shadow transform;
  }

  &__body {
    min-height: 210px;
    padding: 35px 70px 40px;
    text-align: center;
  }

  &__image {
    padding-top: 40px;
    text-align: center;
    height: 212px;
  }

  a {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    transition-duration: $transition-duration;
    transition-property: opacity;

    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}
