.dropdown {
  position: relative;
  display: flex;

  &:hover {
    .dropdown-menu {
      @include desktop {
        display: block;
      }
    }
  }

  &--nav-cards {
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;

      @include laptop {
        display: none;
      }
    }

    &.dropdown-on {
      &::before {
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      }

      > .dropdown-menu {
        max-height: 1500px;
        padding-top: 40px;
        padding-bottom: 40px;

        @include laptop {
          max-height: 65vh;
          padding-top: 33px;
          padding-bottom: 33px;
          opacity: 1;
          visibility: visible;
        }

        @include desktop {
          padding-top: 43px;
          padding-bottom: 43px;
        }
      }
    }

    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      overflow: hidden;
      max-height: 0;
      position: relative;
      padding: 0 30px;
      max-width: 768px;
      background-color: $color-muted;
      transition: max-height 0.3s, padding 0.3s;

      @media (min-width: 414px) {
        padding-right: 47px;
        padding-left: 47px;
      }

      @include laptop {
        position: fixed;
        left: -239px;
        transform: none;
        top: 85px;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
        max-height: 65vh;
        overflow-y: auto;
        max-width: none;
        padding: 33px 47px;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.95);
        transition: opacity 0.3s, visibility 0.3s;

        .nav-cards {
          max-width: 1106px;
          margin: 0 auto;
        }
      }

      @media (min-width: 1200px) {
        left: calc(-239px - (100vw - 1200px) / 2);
      }

      @media (min-width: 1280px) {
        left: calc(-329px - (100vw - 1280px) / 2);
      }

      @include desktop {
        left: -289px;
        padding: 43px 47px;

        .nav-cards {
          max-width: 1364px;
        }
      }

      @media (min-width: 1458px) {
        left: calc(-289px - (100vw - 1458px) / 2);
      }
    }

    .dropdown-link {
      align-self: center;
    }
  }
}

.dropdown-menu {
  z-index: 1;
  position: absolute;
  top: calc(100% + 31px);
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  opacity: 0;
  visibility: hidden;
  padding: 20px 15px 15px 15px;
  background-color: #fff;
  transition: opacity 0.2s linear, visibility 0.2s linear;

  @include desktop {
    padding: 29px 40px 33px 34px;
    top: calc(100% + 56px);
    left: 0;
    transform: translateX(0);
  }

  > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: $color-text;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop {
      width: 100%;
      height: auto;
      font-size: 20px;
      line-height: 24px;
      text-transform: none;
      margin-bottom: 22px;
    }

    &:focus,
    &:hover {
      .dropdown-toggle__lang {
        color: $color-secondary;
        border-bottom: 1px solid $color-secondary;
      }
    }

    .dropdown-toggle__lang {
      &.current-lang {
        color: $color-secondary;
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
}

.dropdown-on > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

button.dropdown-toggle {
  position: relative;
  width: 32px;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  background-color: transparent;
  text-align: center;
  color: $color-text;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $color-text;
  }

  @include desktop {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 20px;
    line-height: 24px;
    width: auto;
    height: auto;
    margin-right: 26px;
    padding-left: 12px;
  }

  span {
    font-weight: 600;
    border-bottom: none;
  }

  .dropdown-icon {
    display: none;

    @include desktop {
      display: block;
    }
  }
}

.dropdown-toggle__lang {
  border-bottom: 1px solid transparent;
  transition: 0.1s linear;
}

.dropdown-toggle__lang-title--mobile {
  display: inline;

  @include desktop {
    display: none;
  }
}

.dropdown-toggle__lang-title--desktop {
  display: none;

  @include desktop {
    display: inline;
  }
}

.dropdown-toggle__lang--desktop {
  display: none;

  @include desktop {
    display: inline;
  }
}

.dropdown-toggle__lang--mobile {
  @include desktop {
    display: none;
  }
}

.dropdown-toggle__icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-bottom: 6px;

  @include desktop {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.dropdown-toggle__icon-flag {
  height: 20px;
  width: 20px;
  margin-right: 10px;

  @include desktop {
    margin-right: 20px;
  }

  svg {
    border-radius: 50%;
  }
}
