.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: $color-black;
  color: $color-white;

  @include laptop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__nav {
    column-count: 3;
    font-size: 18px;
    list-style-type: none;

    @include desktop {
      column-count: 4;
    }

    li {
      margin-bottom: 16px;
      padding-right: 8px;
    }
  }

  &__contact {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include laptop {
      align-items: flex-end;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    list-style-type: none;

    @include laptop {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: -36px;
      margin-left: -36px;
      text-align: right;
    }

    li {
      padding-right: 36px;
      padding-left: 36px;
      margin-bottom: 20px;

      @include laptop {
        margin-bottom: 0;
      }
    }
  }

  &__social {
    margin-bottom: 40px;

    @include laptop {
      margin-top: -12px;
      margin-bottom: 20px;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
