.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $color-black;
  color: $color-white;

  .container {
    @media (min-width: 414px) {
      padding-left: 57px;
    }

    @include laptop {
      padding-left: 47px;
    }
  }

  @include laptop {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__row {
    @include laptop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 47px;
    }
  }

  &__col-left {
    @include laptop {
      width: 500px;
    }

    @media (min-width: 1280px) {
      width: 640px;
    }

    @include desktop {
      width: 886px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 45px;
    }
  }

  &__col-right {
    @include laptop {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
    }
  }

  &__partners {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 66px;
    list-style-type: none;

    @include laptop {
      margin-bottom: 0;
    }

    @include desktop {
      gap: 37px;
    }
  }

  &__partners-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    background-color: $color-white;
    border-radius: 3px;
    padding: 6px;

    @media (min-width: 375px) {
      width: 147px;
      height: 74px;
    }
  }

  &__partners-image {
    border-radius: 3px;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-right: 25px;
    }
  }

  &__links {
    list-style-type: none;
    margin-bottom: 30px;

    @include laptop {
      margin-top: auto;
      margin-bottom: 90px;
    }

    @include desktop {
      margin-bottom: 0;
    }

    li {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__copy {
    p {
      font-size: 14px;
      line-height: 22px;
    }

    span {
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
