$mobile-menu-background-color: #ccc;

.header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 27px 0;
  position: fixed;
  min-height: 116px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 15px #0000000f;

  @include laptop {
    min-height: 145px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include laptop {
      width: 100%;
    }
  }

  &__logo {
    flex-shrink: 0;
    width: 110px;

    @include laptop {
      width: 122px;
    }
  }

  &__menu {
    position: fixed;
    right: 0;
    top: 115px;
    z-index: 1;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 80px 0 80px;
    height: calc(100vh - 115px);
    width: 100vw;
    max-width: 100%;
    // stylelint-disable-next-line
    // height: calc(var(--vh));
    text-align: center;
    color: $color-black;
    background-color: $color-muted;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
    transition-duration: $transition-duration * 2;
    transition-property: transform;

    @include laptop {
      position: static;
      display: block;
      opacity: 1;
      padding: 0;
      margin-left: 70px;
      margin-right: 70px;
      width: 100%;
      height: auto;
      overflow: visible;
      text-align: left;
      background-color: transparent;
      transform: translateX(0);
    }

    @media (min-width: 1280px) {
      margin-left: 120px;
      margin-right: 100px;
    }

    &.is-open {
      transform: translateX(0);
      transition-duration: $transition-duration * 2;
      transition-property: transform;
    }

    .navbar__list {
      flex-direction: column;

      @include laptop {
        flex-direction: row;
      }
    }
  }

  &__menu-toggle {
    display: flex;
    flex-shrink: 0;

    @include laptop {
      display: none;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
