.hero {
  padding-bottom: 0;
  padding-top: 50px;

  @include desktop {
    padding-top: 70px;
  }

  &__greeting {
    p {
      color: $color-primary;
      font-size: 14px;
      line-height: 16px;
      font-weight: 900;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include laptop {
      flex-direction: row;
    }
  }

  h1 {
    @include desktop {
      margin-bottom: 30px;
    }
  }

  &__text {
    h4 {
      margin-bottom: 30px;
    }

    & > p {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    & > p + h4 {
      margin-top: 43px;

      @include desktop {
        margin-top: 61px;
      }
    }

    @include laptop {
      max-width: 340px;
    }

    @include desktop {
      max-width: 430px;
    }
  }

  &__reg-info {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -30px;
    z-index: 1;

    @media (min-width: 414px) {
      margin-left: -24px;
      margin-right: -24px;
    }

    @include laptop {
      width: 702px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }

  &__image {
    max-inline-size: none;
    width: 100vw;
    margin-left: -30px;

    @media (min-width: 414px) {
      margin-left: -47px;
    }

    @include laptop {
      height: calc(967px + (100vw - 1920px) / 2);
      width: calc(1055px + (100vw - 1920px) / 2);
      max-height: 967px;
      max-width: 1055px;
      flex-shrink: 0;
      margin-left: auto;
      margin-right: -47px;
      margin-top: -102px;
    }

    @media (min-width: 1200px) {
      margin-right: calc(-166px + (100vw - 1439px) / -2);
    }

    @include desktop {
      margin-right: -47px;
      margin-top: -247px;
    }

    @media (min-width: 1458px) {
      margin-right: calc(-278px + (100vw - 1920px) / -2);
    }

    @include desktop-xl {
      margin-right: -278px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--host-family {
    padding-bottom: 50px;

    @include desktop {
      padding-top: 45px;
      padding-bottom: 80px;
    }

    @include desktop-xl {
      padding-bottom: 0;
    }

    .hero {
      &__text {
        & > p {
          @include desktop {
            margin-bottom: 90px;
          }
        }
      }

      &__image {
        @include desktop {
          margin-top: -237px;
        }
      }
    }
  }

  &--faq {
    padding-bottom: 50px;

    @include desktop {
      padding-top: 44px;
      padding-bottom: 40px;
    }

    .container {
      padding: 0;
    }

    h1 {
      margin-bottom: 30px;
      width: 100%;
    }

    .hero__greeting {
      width: 100%;
    }

    .hero__text {
      max-width: none;

      @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      h4 {
        @include desktop {
          margin-bottom: 0;
        }
      }

      & > p {
        max-width: 810px;
        margin-bottom: 40px;

        + h4 {
          margin-top: 0;
        }
      }

      .search {
        margin-bottom: 0;
        @include desktop {
          width: 482px;
        }
      }
    }
  }

  &--download {
    padding-bottom: 30px;

    @include desktop {
      padding-top: 44px;
    }

    .hero {
      &__text {
        @include laptop {
          max-width: 672px;
          margin-right: 50px;
        }
      }

      &__image {
        @include laptop {
          height: calc(570px + (100vw - 1440px) / 2);
          width: calc(673px + (100vw - 1440px) / 2);
          max-height: none;
          max-width: none;
        }

        @include desktop {
          height: 570px;
          width: 673px;
          max-height: 570px;
          max-width: 673px;
          margin-top: -236px;
        }
      }
    }
  }

  &--about {
    @include desktop {
      padding-top: 44px;

      .hero {
        &__image {
          @include desktop {
            margin-top: -238px;
          }
        }
      }

      .hero__text {
        max-width: 500px;
      }
    }
  }
}
