.input {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  padding: $input-padding;
  width: 100%;
  background-color: $color-muted;
  outline: none;
  border: none;
  border-radius: 10px;
  color: $color-text;
  transition: .2s;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  @include desktop {
    padding: $input-padding-desktop;
  }

  &::placeholder {
    opacity: 1;
    color: $color-text;
    transition: .2s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &:hover {
    &::placeholder {
      color: $color-secondary;
    }
  }
}
