.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style-type: none;

  @include laptop {
    justify-content: flex-start;
    gap: 12px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    border: 0;
    background-color: $color-white;
    color: $color-black;

    @include laptop {
      width: 40px;
      height: 40px;
    }

    &:hover {
      .footer & {
        color: $color-primary;
      }
    }

    svg {
      width: 50px;
      border-radius: 50%;
      background-color: inherit;

      @include laptop {
        width: 30px;
        height: 30px;
      }
    }
  }

  &--share {
    .social-links {
      gap: 10px;

      &__link {
        width: 32px;
        height: 32px;
        background-color: $color-secondary;
        color: $color-white;

        &:hover {
          background-color: $color-primary;
        }

        .fb {
          width: 24px;
          height: 32px;
        }

        .tw,
        .mail {
          width: 32px;
          height: 16px;
        }
      }
    }
  }
}
