.textarea {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  padding: 30px 20px;
  width: 100%;
  background-color: $color-muted;
  outline: none;
  border: none;
  border-radius: 10px;
  color: $color-text;
  height: 233px;
  resize: none;

  &::placeholder {
    opacity: 1;
    color: $color-text;
    transition: .2s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &:hover {
    &::placeholder {
      color: $color-secondary;
    }
  }

  @include tablet {
    height: 129px;
  }

  @include desktop {
    padding: 30px;
  }
}