footer.footer
  .container
    a.logo.logo--footer(href="home.html")
      img(src="https://s-pyadyshev.github.io/refugeehome/build/images/logo-white.svg" alt="RefugeeHomeNL logo." width="122" height="70")
    .footer__row
      .footer__col-left
        p RefugeeHomeNL is ontstaan als samenwerkingsverband tussen het Rode Kruis, het Leger des Heils, VluchtelingenWerk en Takecarebnb op voorspraak van het Ministerie van Justitie en Veiligheid. Met onze aanpak biedt RefugeeHomeNL een humaan alternatief voor noodopvang en een duurzaam verblijf bij een particulier.
        ul.footer__partners
          li.footer__partners-item
            a(href="/")
              img(src="https://s-pyadyshev.github.io/refugeehome/build/images/rodekruis-color.svg" alt="Rode Kruis." width="147" height="74").footer__partners-image
          li.footer__partners-item
            a(href="/")
              img(src="https://s-pyadyshev.github.io/refugeehome/build/images/vluchtelingenwerk.svg" alt="VluchtelingenWerk Nederland." width="86" height="57").footer__partners-image
          li.footer__partners-item
            a(href="/")
              img(src="https://s-pyadyshev.github.io/refugeehome/build/images/legerdesheils-color.svg" alt="Leger des Heils." width="60" height="63").footer__partners-image
          li.footer__partners-item
            a(href="/")
              img(src="https://s-pyadyshev.github.io/refugeehome/build/images/takecarebnb-color.svg" alt="Takecarebnb." width="115" height="60").footer__partners-image
          li.footer__partners-item
            a(href="/")
              img(src="https://s-pyadyshev.github.io/refugeehome/build/images/mjv-color.png" alt="Ministerie van Justitie en Veiligheid." width="135" height="65").footer__partners-image
      .footer__col-right
        .footer__social
          h3 Volg ons op Facebook
          +social-links([
            {
              href: "#",
              icon: "fb"
            }
          ])
        ul.footer__links
          li
            a(href="/") Privacy statement
          li
            a(href="/") Cookies
          li
            a(href="/") Disclaimer
    .footer__copy
      p
        span Copyright © 2022-2023&nbsp;
        span Het Nederlandse Rode Kruis.&nbsp;
        span All rights reserved.