header.header
  .container
    .header__menu-toggle
      button.menu-button.js-toggle-menu(type="button")
        span 
        span 
        span

    .header__inner
      a.logo(href="home.html")
        img(src="images/logo.svg" alt="RefugeeHomeNL logo." width="122" height="70")
      .header__menu
        +navbar(
          [
            {
              text: "Home",
              href: "home.html",
              active: true,
            },
            {
              text: "Nieuws",
              href: "news.html"
            },
            {
              text: "Vraag & antwoord",
              href: "faq.html",
              dropdown: true,
              class: "dropdown-link"
            },
            {
              text: "Downloads",
              href: "downloads.html"
            },
            {
              text: "Over ons",
              href: "about.html"
            },
            {
              text: "Contact",
              href: "contact.html"
            }
          ]
        )
    .header__language
      .dropdown
        button.button.dropdown-toggle(data-toggle='dropdown')
          span.dropdown-icon
            +svg('chevron-down')
          span.dropdown-toggle__icon
            +svg('globe')
          <span class="dropdown-toggle__lang-title dropdown-toggle__lang-title--desktop">Nederlands</span><span class="dropdown-toggle__lang-title dropdown-toggle__lang-title--mobile">NL</span>
        .dropdown-menu
          a(href='')
            .dropdown-toggle__icon-flag
              +svg('nl')
            span.dropdown-toggle__lang.dropdown-toggle__lang--desktop.current-lang Nederlands
            span.dropdown-toggle__lang.dropdown-toggle__lang--mobile.current-lang NL
          a(href='')
            .dropdown-toggle__icon-flag
              +svg('uk')
            span.dropdown-toggle__lang.dropdown-toggle__lang--desktop English
            span.dropdown-toggle__lang.dropdown-toggle__lang--mobile EN
          a(href='')
            .dropdown-toggle__icon-flag
              +svg('ua')
            span.dropdown-toggle__lang.dropdown-toggle__lang--desktop Українська
            span.dropdown-toggle__lang.dropdown-toggle__lang--mobile UKR
          a(href='')
            .dropdown-toggle__icon-flag
              +svg('ru')
            span.dropdown-toggle__lang.dropdown-toggle__lang--desktop Русский
            span.dropdown-toggle__lang.dropdown-toggle__lang--mobile RUS
