section.hero 
  .container 
    .hero__inner
      .hero__text 
        p.hero__greeting Welcome! 
        h1 Welcome to <span>RefugeeHomeNL</span>
        .hero__buttons 
          a.button.button-primary I would like to apply for a <span>guest stay</span>
          a.button.button-secondary I am interested in <span>hosting</span>
          p RefugeehomeNL is an initiative of the Dutch government to provide homes for refugees from Ukraine via host families. Leading NGO partners (The Netherlands Red Cross, Dutch Council For Refugees, Salvation Army, and Takecarebnb) work together to support refugees in finding shelter in the Netherlands.
      .hero__image
        img(src="images/home.png" alt="Family.")
        p RefugeehomeNL is an initiative of the Dutch government to provide homes for refugees from Ukraine via host families. Leading NGO partners (The Netherlands Red Cross, Dutch Council For Refugees, Salvation Army, and Takecarebnb) work together to support refugees in finding shelter in the Netherlands.
    ul.hero__logos
      li
        img(src="images/rodekruis.svg", alt="logo Rode kruis.")
      li
        img(src="images/vluchtelingenwerknl.svg", alt="logo Vluchtelingenwerknl.")
      li
        img(src="images/legerdesheils.svg", alt="logo Leger des heils.")
      li
        img(src="images/takecarebnb.svg", alt="logo Take care bnb.")
      li
        img(src="images/mjv.svg", alt="logo Ministerie van justitie en Veligheid.")

