section.section
  .container 
    .info-box-wrap
      .info-box
        .image-wrap.background-primary
          img.info-box__image(src="images/refugee.svg" alt="refugees.") 
        .info-box__content
          h2.info__title Would you like to apply for a guest stay?
          p When you first arrive in the Netherlands and you can’t stay with family or friends, a lot is uncertain. The Dutch Government offers shelter, but maybe you prefer to stay with private individuals, such as families who want to welcome you in the Netherlands by offering a private space within their home. Through RefugeeHomeNL you and your family can stay with a Dutch host for a predetermined period of time. During this period you will live in a safe and homely environment in a private individual’s home.
          .buttons-wrap 
            a(href="#").button.button-primary More information
            a(href="#").button.button-ghost Sign up
      .info-box.info-box--reverse
        .image-wrap.background-secondary
          img.info-box__image(src="images/home.svg" alt="house.") 
        .info-box__content
          h2.info__title Are you interested in hosting a family?
          p Right now thousands of refugees with residence permits are waiting in Asylum Seekers’ Centres for permanent accommodation. RegufeeHomeNL enables them to temporarily stay with a host family. Have you got a spare room in your home for the period of three months? Would you like to have a rewarding experience of giving your refugee guest a warm welcome and a positive start to life in the Netherlands?
          .buttons-wrap 
            a(href="#").button.button-secondary More information
            a(href="#").button.button-ghost Sign up
      .info-box
        .image-wrap.background-antique
          img.info-box__image(src="images/municipalities.svg" alt="municipality.") 
        .info-box__content
          h2.info__title Municipalities
          p RefugeeHomeNL is a collaboration of a number of aid organizations to organize safe shelter for Ukrainian refugees in Dutch host households. Now on a small scale in four pilot municipalities, but eventually also in your region or municipality.
          .buttons-wrap 
            a(href="#").button.button-primary More information