section.step-cards
  .container 
    h2.step-cards__title The process in 4 steps
    ul.step-cards__list 
      li
        .card-step
          .card-step__number 1
          .card-step__wrap
            img(src="images/computer.svg", alt="computer's image." )
            p Sign up

      li
        .card-step 
          .card-step__number 2
          .card-step__wrap
            img(src="images/match.svg", alt="two men with puzzle.")
            p Match
      li
        .card-step 
          .card-step__number 3
          .card-step__wrap
            img(src="images/meeting.svg", alt="two people's meeting.")
            p Meet
      li
        .card-step 
          .card-step__number 4
          .card-step__wrap
            img(src="images/home.svg", alt="home's image.")
            p Live together
