include mixins/accordion
include mixins/breadcrumb
include mixins/card
include mixins/checkbox
include mixins/lazyElements
include mixins/navbar
include mixins/pagination
include mixins/radio
include mixins/sliders
include mixins/social-links
include mixins/step
include mixins/svg
include mixins/switch
include mixins/tabs
include mixins/video
include mixins/nav-cards
include mixins/hero
include mixins/arrow-links
include mixins/reg-info
include mixins/search
include mixins/card-news
include mixins/filter
include mixins/download-list