mixin accordion(title, content)
  li.accordion-list__item
    .accordion
      .accordion__header
        button.accordion__toggle(data-accordion aria-expanded="false")
          span.accordion__icon
          span.accordion__title= title
      .accordion__content
        p= content