//- items - pages in array, e.g. (['Main page', 'News'])
//- last - last active page in span, e.g. (['Main page', 'News'], 'News detail')
mixin breadcrumb(items, last)
  nav.breadcrumb(aria-label="breadcrumbs")
    ul.breadcrumb__list
      each item in items
        li.breadcrumb__item
          if (index === items.length - 1)
            span= item
          else
            a(href="#" title=item).breadcrumb__link= item

      if last
        li.breadcrumb__item
          span= last
