mixin filter(buttons)
  .filter
    .filter__title
      span Filter op:
    ul
      each button in buttons
        li
          button.button.button--filter(type="button" class=(button.state === 'active' ? 'is-active' : '' ))
            +svg(button.icon)
            span= button.text
