mixin pagination
  nav.pagination(role="navigation" aria-label="pagination")
    p Pagina:
    ul.pagination__list
      li.pagination-prev.disabled
        a(href='#')
          +svg("triangle-right")
      li
        a(href='#').pagination__link.pagination__link--current 1
      li
        a(href='#').pagination__link 2
      li
        a(href='#').pagination__link 3
      li.pagination-next 
        a(href='#')
          +svg("triangle-right")
