mixin slider()
  .swiper-container.slider
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
      .swiper-slide
        h2 Slide 2
      .swiper-slide
        h2 Slide 3
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

mixin slider-thumbs()
  .swiper-container.slider-thumbs
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
      .swiper-slide
        h2 Slide 2
      .swiper-slide
        h2 Slide 3
    .slider-thumbs-pagination

  .swiper-container.slider-thumbs-nav(thumbsslider='')
    .swiper-wrapper
      .swiper-slide
        h3 Slide 1
      .swiper-slide
        h3 Slide 2
      .swiper-slide
        h3 Slide 3