mixin social-links(data)
  ul.social-links(class!=attributes.class)
    each item in data
      li.social-links__item
        button.social-links__link(type="button")
          +svg(item.icon)(class=item.icon)
