mixin social-links(data)
  ul.social-links
    each item in data
      li.social-links__item
        a.social-links__link(href=item.href ? item.href : '#' target="_blank" rel="noopener noreferrer")
          +svg(item.icon)
