extends pug/base

prepend vars
  - title = 'About'

append vars
  //-

block content
  .container
    +breadcrumb(['Home'], 'Over ons')
  +hero({
    greeting: 'OVER ONS',
    title: 'Over RefugeeHomeNL',
    descriptions: [
      {
        description:'RefugeeHomeNL biedt veilige en prettige opvang voor OekraÏense ontheemden bij Nederlandse gastgezinnen. WIj bieden hierin alle noodzakelijke en gewenste ondersteuning aan zowel gast als gastgezin.',
      },
      {
        description:' RefugeeHomeNL is ontstaan als samenwerkingsverband tussen het Rode Kruis, het Leger des Heils, VluchtelingenWerk en Takecarebnb op voorspraak van het Ministerie van Justitie en Veiligheid. Met onze aanpak biedt RefugeeHomeNL een humaan alternatief voor noodopvang en een duurzaam verblijf bij een particulier.',
      },
    ],
    img: 'images/family-mobile.png',
    srcset: 'images/family.png',
    imgAlt: 'Family'
  }).hero--about
  section.section.section-sm.section-orgs.pt-0
    .container.text-center
      .section-orgs__logo
        img(src="images/logo.svg" alt="RefugeeHomeNL logo." width="224" height="127")
      .logos-list
        ul
          li
            img(src="images/rodekruis.svg" alt="Rode Kruis logo.")
          li
            img(src="images/vluchtelingenwerknl.svg" alt="VluchtelingenWerk Nederland logo.")
          li
            img(src="images/legerdesheils.svg" alt="Leger des Heils logo.")
          li
            img(src="images/takecarebnb.svg" alt="Takecarebnb logo.")
          li
            img(src="images/mjv.svg" alt="Ministerie van Justitie en Veiligheid logo.")
  .container
    section.section.section--form.with-aside
      .section__wrapper
        .section__content
          form.form
            h4.text-secondary Wij zijn er om jouw te helpen
            p Heb je vragen of wil je meer informatie? Neem contact op.
            .form__fields
              input.input(type="text" placeholder="Voornaam" name="name")
              input.input(type="text" placeholder="Achternaam" name="surname")
              input.input(type="tel" placeholder="Telefoonnummer" name="phone")
              input.input(type="email" placeholder="E-mailadres" name="email")
              textarea.textarea(name="ask" placeholder="Type hier je vraag…")
            button.button.button--with-arrow(type="submit") Verstuur
              +svg("arrow-right")
        aside.section__aside
          .registration-links
            h3 Hier kun je je aanmelden
            a.button.button--round-arrow(href="/" title="Aanmelden als gastgezin") Aanmelden als gastgezin
              span 
                +svg('arrow-right')
            a.button.button--round-arrow(href="/" title="Aanmelden als gast") Aanmelden als gast
              span 
                +svg('arrow-right')
            .registration-links__icon
              +svg('sheet')