extends pug/base

prepend vars
  - title = 'Downloads'

append vars
  //-

block content
  .container
    +breadcrumb(['Home'], 'Aanmelden')
  +hero({
    greeting: 'DOWNLOADS',
    title: 'Download hier je informatie',
    descriptions: [
      {
        description:'Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam et tortor ut nisi gravida convallis. Integer eu purus magna.',
      },
    ],
    img: 'images/home-mobile.png',
    srcset: 'images/home.png',
    imgAlt: 'Family'
  }).hero--download
  .container
    +filter([
      {
        text: 'Gastgezin',
        icon: 'house'
      },
      {
        text: 'Werk',
        icon: 'case'
      },
      {
        text: 'Educatie',
        icon: 'academic-cap'
      },
      {
        text: 'Transport',
        icon: 'subway'
      },
    ])

    section.section.section-sm
      +download-list({
        cards: [
          {
            title: "Flyer gastgezin na kennismaking",
            links: [
              {
                title: 'Nederlands'
              }
            ]
          },
          {
            title: "Flyer gast na kennismaking",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Flyer gast vertrek",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Flyer gastgezin vertrek",
            links: [
              {
                title: 'Nederlands'
              },
            ]
          },
          {
            title: "Poster stappenplan",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Poster oproep",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Flyer gastgezin na kennismaking",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Flyer gast na kennismaking",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
          {
            title: "Flyer gast vertrek",
            links: [
              {
                title: 'Nederlands'
              },
              {
                title: 'English'
              },
              {
                title: 'Yкраїнська'
              },
              {
                title: 'Pусский'
              },
            ]
          },
        ],
      })
    section.section.with-aside.pt-0.section-form
      .section__wrapper
        .section__content
          form.form
            h4.text-primary Niet gevonden wat je zocht?
            p Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .form__fields
              input.input(type="text" placeholder="Naam" name="name")
              input.input(type="email" placeholder="E-mailadres" name="email")
              textarea.textarea(name="ask" placeholder="Type hier je vraag…")
            button.button.button--with-arrow(type="submit") Verstuur
              +svg("arrow-right")
        .section__aside
          .registration-links
            h3 Hier kun je je aanmelden
            a.button.button--round-arrow(href="/" title="Aanmelden als gastgezin") Aanmelden als gastgezin
              span 
                +svg('arrow-right')
            a.button.button--round-arrow(href="/" title="Aanmelden als gast") Aanmelden als gast
              span 
                +svg('arrow-right')
            .registration-links__icon
              +svg('sheet')
