extends pug/base

prepend vars
  - title = 'Guest signup'

append vars
  //-

block content 
  .container
    +breadcrumb(['Home'], 'Aanmelden')
  section.section.section-sm
    .container
      .hero__inner
        .hero__text
          .hero__greeting
            p AANMELDEN
          h1 Host family sign up
  <iframe frameborder="0" style="height:1300px;width:100%;border:none;margin-bottom:-6px;" src='https://forms.zohopublic.eu/spyadyshev/form/refugeehome/formperma/uSbOdJaqki7NKK3Dxx7SfkoN4PrVZZ3XQelkfuzwDCA'></iframe>