extends pug/base

prepend vars
  - title = 'Guest signup'

append vars
  //-

block content
  section.section-header.section-header--primary.background-primary
    .container 
      h2.section-header-title Guest Signup
      .section-header-image
        img(src="images/refugee.svg" alt="refugees.")
  <iframe frameborder="0" style="height:500px;width:99%;border:none;margin-bottom:-6px;" src='https://forms.zohopublic.eu/spyadyshev/form/refugeehome/formperma/uSbOdJaqki7NKK3Dxx7SfkoN4PrVZZ3XQelkfuzwDCA'></iframe>



