extends pug/base

prepend vars
  - title = 'HomeRefugeeNL'

append vars
  //-

block content
  .container
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h2 New
    a(href="home.html") Homepage
    br
    a(href="host-family.html") Gastgezin
    br
    a(href="faq.html") Vraag & Antwoord
    br
    a(href="family-signup.html") Sign-up
    br
    a(href="downloads.html") Downloads
    br
    a(href="search.html") Zoeken
    br
    a(href="not-found.html") Pagina niet gevonden
    br
    a(href="news.html") News
    br
    a(href="news-detail.html") News detail
    br
    a(href="about.html") About
    br
    h2 Old
    a(href="guests.html") For guests
    br
    a(href="guest-signup.html") Guest sign-up
    br
    a(href="families.html") For host families
    br
    a(href="municipalities.html") For municipalities
    br
    a(href="contact.html") Contact
    br
    br
    br
