extends pug/base

prepend vars
  - title = 'HomeRefugeeNL'

append vars
  //-

block content
  .container
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    a(href="home.html") Homepage
    br
    a(href="guests.html") For guests
    br
    a(href="guest-signup.html") Guest sign-up
    br
    a(href="family-signup.html") Family sign-up
    br
    a(href="families.html") For host families
    br
    a(href="municipalities.html") For municipalities
    br
    a(href="news.html") News
    br
    a(href="news-detail.html") News detail
    br
    a(href="about.html") About
    br
    a(href="contact.html") Contact
    br
    br
    br
