extends pug/base

prepend vars
  - title = 'News'

append vars
  //-

block content
  .container
    +breadcrumb(['Home'], 'Nieuws')
    section.news-hero.background-muted
      h1 Nieuws
      .news-hero__content
        +card-news({
          src: './images/news.jpg',
          label: '02-05-2023',
          title: 'Tuition 2023-2024 possibly higher than last year',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
          button: 'Lees verder'
        }, 667, 377)
        +card-news({
          src: './images/news.jpg',
          label: '02-05-2023',
          title: 'Donec pretium hendrerit magna',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
          button: 'Lees verder'
        }, 667, 377)
    section.section.news-list
      .row
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Duis eget lacinia libero praesent',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Curabitur vehicula, est sit amet hendrerit facilisis',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Nunc condimentum vitae neque sed pretium',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Etiam hendrerit commodo odio non tincidunt',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Duis eget lacinia libero praesent',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
        .col-lg-4.col-md-6
          +card-news({
            src: './images/news.jpg',
            label: '02-05-2023',
            title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet laoreet leo, vitae suscipit lectus interdum at. Quisque vitae velit a elit consectetur facilisis nec eget ante. Sed posuere vulputate condimentum',
            button: 'Lees verder'
          }, 437, 296)
      .news-list__pagination
        +pagination()