extends pug/base

prepend vars
  - title = 'Werk, onderwijs & vrije tijd'

append vars
  //-

block content
  .container
    +breadcrumb(['Home', 'Vraag & Antwoord'], 'Werk, onderwijs & vrije tijd')
  .container 
    section.section.section--faq.with-aside
      .section__wrapper
        .section__content
          +hero({
            greeting: 'VRAAG & ANTWOORD',
            title: 'Werk, onderwijs & vrije tijd',
            descriptions: [
              {
                description:'Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam et tortor ut nisi gravida convallis. Integer eu purus magna.',
              },
            ],            titleH4: 'Waarmee kunnen we je helpen?',
          }).hero--faq.pt-0
            +search()
          +filter([
            {
              text: 'Werk',
              icon: 'case',
              state: 'active'
            },
            {
              text: 'Educatie',
              icon: 'academic-cap'
            },
            {
              text: 'Transport',
              icon: 'subway'
            },
          ])
          .row
            .col-md-6
              +card-news-link({
                src: './images/news.jpg',
                title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
                text: 'Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
                button: 'Lees verder'
              }, 460, 280)
            .col-md-6
              +card-news-link({
                src: './images/news.jpg',
                title: 'Duis eget lacinia libero praesent',
                text: 'Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam et tortor ut nisi gravida convallis.',
                button: 'Lees verder'
              }, 460, 280)
            .col-md-6
              +card-news-link({
                src: './images/news.jpg',
                title: 'Nullam nec sapien neque, fusce sit amet nulla vitae lacus rutrum suscipit',
                text: 'Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
                button: 'Lees verder'
              }, 460, 280)
        .section__aside
          aside.other-topics
            h2 Andere topics
            +nav-cards(
              [
                {
                  src: "./images/news.jpg",
                  title: "Je gast"
                },
                {
                  src: "./images/news.jpg",
                  title: "Taal & cultuur"
                },
                {
                  src: "./images/news.jpg",
                  title: "Zorg & Welzijn"
                },
                {
                  src: "./images/news.jpg",
                  title: "Werk/ onderwijs"
                },
                {
                  src: "./images/news.jpg",
                  title: "Financiële zaken"
                },
                {
                  src: "./images/news.jpg",
                  title: "Vertrek"
                },
                {
                  src: "./images/news.jpg",
                  title: "Over RHNL"
                },
              ]
            ).nav-cards--in-aside
  section.section.background-muted
    .container
      h2 Vraag & antwoord
      ul.accordion-list
        +accordion("Waar in Nederland is RefugeeHomeNL actief?", "Inmiddels wordt de werkwijze van RefugeeHomeNL door heel Nederland ingezet. In belangrijke mate is dit een digitaal proces. Daarnaast kennen we in diverse grote steden fysieke punten. Hier kunnen Oekraïense ontheemden zich eveneens aanmelden.")
        +accordion("Hoe worden gasthuishoudens gescreend? Nederland is RefugeeHomeNL actief?", "Inmiddels wordt de werkwijze van RefugeeHomeNL door heel Nederland ingezet. In belangrijke mate is dit een digitaal proces. Daarnaast kennen we in diverse grote steden fysieke punten. Hier kunnen Oekraïense ontheemden zich eveneens aanmelden.")
        +accordion("Hoe worden gasthuishoudens gescreend? Nederland is RefugeeHomeNL actief?", "Inmiddels wordt de werkwijze van RefugeeHomeNL door heel Nederland ingezet. In belangrijke mate is dit een digitaal proces. Daarnaast kennen we in diverse grote steden fysieke punten. Hier kunnen Oekraïense ontheemden zich eveneens aanmelden.")
        +accordion("Hoe worden gasthuishoudens gescreend? Nederland is RefugeeHomeNL actief?", "Inmiddels wordt de werkwijze van RefugeeHomeNL door heel Nederland ingezet. In belangrijke mate is dit een digitaal proces. Daarnaast kennen we in diverse grote steden fysieke punten. Hier kunnen Oekraïense ontheemden zich eveneens aanmelden.")
        +accordion("Hoe worden gasthuishoudens gescreend? Nederland is RefugeeHomeNL actief?", "Inmiddels wordt de werkwijze van RefugeeHomeNL door heel Nederland ingezet. In belangrijke mate is dit een digitaal proces. Daarnaast kennen we in diverse grote steden fysieke punten. Hier kunnen Oekraïense ontheemden zich eveneens aanmelden.")
  section.section.with-aside.section-form
    .container
      .section__wrapper
        .section__content
          form.form
            h4.text-primary Niet gevonden wat je zocht?
            p Phasellus et magna neque. Etiam eu auctor est. Etiam aliquam pulvinar augue quis bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .form__fields
              input.input(type="text" placeholder="Naam" name="name")
              input.input(type="email" placeholder="E-mailadres" name="email")
              textarea.textarea(name="ask" placeholder="Type hier je vraag…")
            button.button.button--with-arrow(type="submit") Verstuur
              +svg("arrow-right")
        aside.section__aside
          .registration-links
            h3 Hier kun je je aanmelden
            a.button.button--round-arrow(href="/" title="Aanmelden als gastgezin") Aanmelden als gastgezin
              span 
                +svg('arrow-right')
            a.button.button--round-arrow(href="/" title="Aanmelden als gast") Aanmelden als gast
              span 
                +svg('arrow-right')
            .registration-links__icon
              +svg('sheet')


