.background-default {
  background-color: $color-black;
}

.background-muted {
  background-color: $color-muted;
}

.background-primary {
  background-color: $color-primary;
}

.background-secondary {
  background-color: $color-secondary;
}

.text-default {
  color: $color-white;
}

.text-muted {
  color: $color-gray;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.ma {
  width: fit-content;
  margin: 0 auto !important;
}

.mt-0 {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.clearfix {
  overflow: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%);
  width: 14px;
  height: 8px;
  transition: transform 0.2s linear, color 0.2s linear;
  color: $color-text;

  .dropdown-on & {
    transform: rotate(180deg) translateY(50%);
  }
}

.arrow-round-icon {
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  color: $color-white;
  background-color: $color-secondary;
  padding: 10px 8px;
  transition: 0.2s;

  .arrow-links & {
    margin-right: 15px;
  }
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}
