h3 {
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 30px;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 38px;

  @include laptop {
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 30px;
  }
}
